<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>MDP</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/fileinput.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<!-- --------------------------------Debut - Barre de Navigation---------------------------- -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<span class="navbar-brand">Motif Discovery Problem</span>
				</div>
				
				<div class="navbar-collapse collapse"  ng-init=" tab = 1">
					<ul class="nav navbar-nav">
						<li  ng-class="{ active:tab === 1 }"><a ng-click="tab = 1;tableselect = null" href>Traitement des séquences FASTA</a></li>
						<li  ng-class="{ active:tab === 2 }"><a ng-click="tab = 2;tableselect = null" href>Résultats d'exécution</a></li>
						<li  ng-class="{ active:tab === 3 }"><a ng-click="tab = 3;tableselect = null" href>3eme Fonctionalité</a></li>
						<li  ng-class="{ active:tab === 4 }"><a ng-click="tab = 4;tableselect = null" href>4eme Fonctionalité</a></li>
						<li  ng-class="{ active:tab === 5 }"><a ng-click="tab = 5;tableselect = null" href>5eme Fonctionalité</a></li>
					</div>
				</nav>
				<!-- --------------------------------Fin - Barre de Navigation---------------------------- -->
				<!-- --------------------------------Debut - Traitement des séquences FASTA------------------------------ -->
				<div class="panel" ng-show="tab ===1">
					<div class="container" ng-show="tableselect == null">
						<center>
						<form  action="test.php" method="post" enctype="multipart/form-data"  >

						<div class="spacer">
							<ul class="list-inline">
								
								<li><button name="exemple1"  class="btn btn-info">exemple1</button></li>
								<li><button name="exemple2"  class="btn btn-info">exemple2</button></li>
								<li><button name="exemple3"  class="btn btn-info">exemple3</button></li>
								<li><button name="exemple4"  class="btn btn-info">exemple4</button></li>
								
							</ul>
							<textarea name="textarea" rows="10" cols="50" class="form-control" >{{tett}}</textarea>

							<ul class="list-inline">
							<button type="button" class="btn btn-success">Run MDP</button>
							<button type="button" class="btn btn-danger">Effacer</button>
								
							</ul>
						</div>
						</form>
						</center>
					</div>
				</div>
				<!-- --------------------------------Fin -Traitement des séquences FASTA----------------------------------- -->

				<!-- --------------------------------Debut - Résultats d'exécution------------------------------ -->
									<div class="panel" ng-show="tab ===2">
										<div class="container">
											<div class="spacer"></div>
											<h1>Résultats d'exécution</h1>
										</div>
									</div>
				<!-- --------------------------------Fin - Résultats d'exécution------------------------------ -->

				<!-- --------------------------------Debut - 3eme Fonctionalité------------------------------ -->
									<div class="panel" ng-show="tab ===3">
										<div class="container">
											<div class="spacer"></div>
											<h1>3eme Fonctionalité</h1>
										</div>
									</div>
				<!-- --------------------------------Fin - 3eme Fonctionalité------------------------------ -->
				<!-- --------------------------------Debut - 4eme Fonctionalité------------------------------ -->
									<div class="panel" ng-show="tab ===4">
										<div class="container">
											<div class="spacer"></div>
											<h1>4eme Fonctionalité</h1>
										</div>
									</div>
				<!-- --------------------------------Fin - 4eme Fonctionalité------------------------------ -->
				<!-- --------------------------------Debut - 5eme Fonctionalité------------------------------ -->
									<div class="panel" ng-show="tab ===5">
										<div class="container">
											<div class="spacer"></div>
											<h1>5eme Fonctionalité</h1>
										</div>
									</div>
				<!-- --------------------------------Fin - 5eme Fonctionalité------------------------------ -->
											
											


											<script src="js/angular.min.js" type="text/javascript"></script>
											<script src="js/app.js" type="text/javascript"></script>
											<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
											<script type="text/javascript" src="/socket.io/socket.io.js"></script>
											
											
	</body>
</html>